@media screen and (min-width: 769px) {
    nav > ul {
        display: block;
    }
    p.descripcion{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    .articulo{
       
        flex-basis: 20%;
    }

    .nav-bar li,
  .site-bar li {
    padding-right: 15px;
  }
    
    
