@media screen and (min-width: 769px) {
    nav > ul {
        display: block;
    }
    p.descripcion{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
