header {
  padding-bottom: 10px;
}
main {
  justify-content: center;
  display: flex;
  background: #ebebeb;
}
.usuario {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.submit {
  background-color: #1259c3;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}
.submit:hover {
  background-color: #0022aa;
}
.password {
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin-bottom: 40px;
  width: 100%;
}
.formulario1 {
  width: 60%;
}
